@import 'parciales/_paralax.scss';
@import 'parciales/_menu.scss';
@import 'parciales/_footer.scss';
@import 'parciales/_media.scss';
@import 'parciales/_ABOUT-US.scss';
@import 'parciales/_contact.scss';
@import 'parciales/_numeros.scss';
@import 'parciales/_service.scss';
@import 'parciales/_WELCOME.scss';
@import 'parciales/_OUR-TEAM.scss';
@import 'parciales/_WHAT-ELSE.scss';
nav{
    #myNavbar{
        float: right;
    }
}
*{
    // outline: 1px solid red;
    font-family: 'Raleway', sans-serif;
}
.espacio{
    height: 10vh;
}
#flecha{
    padding: 20px;
    background: #FF9900;
    padding: 40px;
    position: fixed;
    z-index: 100;
    #icon-flecha{
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
}
nav {
    a{
        color: black !important;
    }
}
#home{
    height: 95vh;
    
}
.seccion-amarillo{
    height: 30vh;
    background: #FF9900;
    
}
