.service{
    padding: 10vh 0vh 20vh 0vh;
    .titulo{
        margin-top: 10vh;
        margin-bottom: 40px;
        hr{
            // height: 1px;
            background: #FF9900;
            width: 60%;
            border: 0.5px solid #FF9900;
            // position: absolute;
        }
         h1{
            position: relative;
            margin-top: 0px;
            color: black;
            font-weight: bold;
        }
        #izquierda{
            margin-right: -5px;
        }
        #derecha{
            margin-left: -5px;
        }
       
    }
    #icon{
        color: white;
        // font-weight: bold;
        font-size: 25px;
        border-radius: 50px;
        background: #FF9900;
        padding: 15px;
    }
}