.WHAT-ELSE{
   padding-bottom: 10vh;
//    background-color: #FF9900;
 
    .titulo{
        margin-top: 10vh;
        margin-bottom: 40px;
        hr{
            // height: 1px;
            background: #FFF;
            width: 60%;
            border: 0.5px solid white;
            // position: absolute;
        }
         h1{
            position: relative;
            margin-top: 0px;
            color: white;
            font-weight: bold;
        }
        #izquierda{
            margin-right: -5px;
        }
        #derecha{
            margin-left: -5px;
        }
       
    }
    .progress-bar-warning {
    background-color:#FF9900 ; 
    //  height: 15px; 
    }
    .progress-bar{
        height: 15px;
    }
}
#what{
    // background: #FF9900;
    img{
        height:50vh;
        width: 500px;
    }
}